<!DOCTYPE html>
<html ng-app>
<head>
    <title>blockworld</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body ng-controller="MainController">

    <div class="container">
        <div class="jumbotron">
            <h1>blockworld</h1>
            <p>experiments with angular.js and three.js</p>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-2" ng-controller="AxisZController">
                <label>rotate</label>
                <a class="btn btn-primary" ng-mousedown="axis = axis + 0.1; updateRotation()">+</a>
                <input type="number" ng-model="axis" ng-change="updateRotation()"/>
                <a class="btn btn-primary" ng-mousedown="axis = axis - 0.1; updateRotation()">-</a>
            </div>
            <div class="col-md-4" ng-controller="ZoomController">
                <label>zoom</label>
                <a class="btn btn-primary" ng-mousedown="zoom = zoom + 10; updateZoom()">+</a>
                <input type="number" ng-model="zoom" ng-change="updateZoom()"/>
                <a class="btn btn-primary" ng-mousedown="zoom = zoom - 10; updateZoom()">-</a>
            </div>
        </div>

        <div class="row">
            <div id="view3d" style="height:300px; width: 100%; color:#aaaaaa;"></div>
        </div>

    </div>

    <!-- javascript at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r53/three.min.js"></script>
    <script src="scene.js"></script>
    <script src="controller.js"></script>
    <script type="application/javascript">
    scene.init();
    </script>
</body>
</html>